.markdown-preview-view span.internal-embed:not(.image-embed)[width="1"] .markdown-embed-title {
    display: none;
}
.markdown-preview-view span.internal-embed:not(.image-embed)[width="1"] .markdown-embed-content {
    max-height: none;
}
.markdown-preview-view span.internal-embed:not(.image-embed)[width="1"] .markdown-embed {
    background-color: inherit;
}

.markdown-preview-view span.internal-embed:not(.image-embed)[width="1"] .markdown-embed .markdown-preview-view {
    padding: 0px 20px 0px 20px;
}
