body {
  --embed-padding: 0px 8px;
}

/* .internal-embed:not(.image-embed) .embed-title {
  display: none;
} */

.internal-embed:not(.image-embed) .markdown-preview-view {
  padding-inline: 0 !important;
}

.internal-embed :is(h1, h2, h3, h4, h5, h6),
.markdown-rendered :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 8px !important;
}

.markdown-reading-view .markdown-embed {
  border: none;
}
